
@{
    ViewBag.Title = "Auction";
}

<h2>集合競價之說明</h2>

<div class="col-12 mt-5 row">
    <div class="col-4">
        <div class="text-center">
            <h3>集合競價成交價格決定原則</h3>
        </div>
        <ol style="text-indent:0px; margin-left:20px;margin-top:20px;">
            <li>滿足最大成交量成交，高於決定價格之買進申報與低於決定價格之賣出申報須全部滿足。</li>
            <li>決定價格之買進申報與賣出申報至少一方須全部滿足。</li>
            <li>合乎前二款原則之價位有二個以上時，採接近當市最近一次成交價格之價位，如當市尚無成交價格者，採接近當市開盤競價基準之價位。</li>
        </ol>
    </div>
    <div class="col-4">
        <figure><img src="~/images/info13-1.png"></figure>
    </div>

    <div class="col-4">
        <figure><img src="~/images/info13-2.png"></figure>
    </div>
</div>
