
@{
    ViewBag.Title = "Index";
}

<div class="col-12">
    <p style="text-align:center;margin-top:250px;font-size:36px">股票搓合機制之說明與程式範例</p>
    <p style="text-align:center;font-size:28px">郭庭彰</p>
</div>